/* POLICES 
font-family: 'Roboto', sans-serif;
font-family: 'Bangers', cursive;
*/

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    --red: #EA2027;
    --blue: #0652DD;
}

header {
    width: 100%;
    height: 60px;
    box-shadow: 0 4px 4px #000;
    position: fixed;
    top: 0;
}

#formulaire {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 65%;
    height: 75%;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #ccc;
}

.requis {
    font-weight: bold;
    color: var(--blue);
}

.form1 {
    width: 100%;
    height: 10%;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form2 {
    width: 100%;
    height: 20%;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.form2>p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 40px 0 40px;
}
.form2>p>input {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    height: 25px;
    box-shadow: 2px 2px 4px #ccc;
}
#aidePrenom {
    height: 20px;
    width: 150px;
    /* border: 1px solid #000; */
    margin-top: 5px;
}
#aideNom {
    height: 20px;
    width: 150px;
    /* border: 1px solid #000; */
    margin-top: 5px;
}

.form3 {
    width: 100%;
    height: 20%;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.form3>p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 40px 0 40px;
}
.form3>p>input {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    height: 25px;
    box-shadow: 2px 2px 4px #ccc;
}
#aideEmail {
    height: 20px;
    width: 150px;
    /* border: 1px solid #000; */
    margin-top: 5px;
}
#aideTel {
    height: 20px;
    width: 150px;
    /* border: 1px solid #000; */
    margin-top: 5px;
}

.form4 {
    width: 100%;
    height: 40%;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.form4>p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#message {
    width: 430px;
    height: 150px;
}
#aideMessage {
    height: 20px;
    width: 150px;
    /* border: 1px solid #000; */
    margin-top: 5px;
}

.form5 {
    width: 100%;
    height: 10%;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.form5>p>input {
    background-color: var(--blue);
    color: #fff;
    width: 150px;
    height: 50px;
    border: 1px solid var(--blue);
    border-radius: 5px;
    box-shadow: 4px 4px 4px #000;
    cursor: pointer;
}
.form5>p>input:hover {
    width: 152px;
    height: 52px;
}

.eltRequis {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 50px;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    #formulaire {
        min-height: 100vh;
    }
    form {
        width: 95%;
    }
}