/* POLICES 
font-family: 'Roboto', sans-serif;
font-family: 'Bangers', cursive;
*/

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

form {
    border: 1px solid #000;
    width: 75%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form>p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}